@model DataPaginador<TCategoria>
@{
    ViewData["Title"] = "Categorías";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-10">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa fa-edit fa-fw "></i>
            Categorías
        </h1>
    </div>
    <div class="col-lg-2 float-lg-right">
        <a data-toggle="modal" data-target="#modal1" class="btn btn-info text-white">Crear categoría</a>
    </div>
</div>
<br />
<form asp-area="Categorias" asp-controller="Categorias" asp-action="Index" method="get">
    <div class="row">
        <div class="col-sm-8 col-md-3">
            <input id="Filter_Name" name="Filter.Name" placeholder="Buscar categorias" class="form-control input-group-sm" />
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="col-md-2">
                <button type="submit" class="btn btn-info">Buscar</button>
            </div>
        </div>
    </div>
</form>
<br />
<div class="float-lg-right">
    <div class="row">
        <div class="col-md-12">
            <label>
                @Html.Raw(Model.PagiInfo)
            </label>
        </div>
    </div>
    <div class="row float-lg-right">
        <div class="col-md-12">
            <label>
                <select id="selectRecords" name="records" class="form-control" onchange="categorias.SeleccionarRegistros()">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="1">1</option>
                </select>
            </label>
        </div>
    </div>
</div>

<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Entity.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entity.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entity.State)
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.List)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @if (item.State)
                    {
                        <span class="badge badge-success text-white">Activo</span>
                    }
                    else
                    {
                        <span class="badge badge-danger text-white">Inactivo</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="float-lg-right">
    @Html.Raw(Model.PagiNavegation)
</div>
<div class="modal fade" data-backdrop="static" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalTitle">Agregar categoría</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" class="formCategoria">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="Entity.Code" class="control-label"></label>
                                    <input asp-for="Entity.Code" placeholder="Código" class="form-control" />
                                    <span asp-validation-for="Entity.Code" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label asp-for="Entity.Name" class="control-label"></label>
                                    <input asp-for="Entity.Name" placeholder="Nombre" class="form-control" />
                                    <span asp-validation-for="Entity.Name" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="Entity.Description" class="control-label"></label>
                                    <textarea asp-for="Entity.Description" placeholder="Descripción" class="form-control"> </textarea>
                                    <span asp-validation-for="Entity.Description" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="Entity.State" class="control-label"></label>
                                    <div class="inline-group">
                                        <label class="radio">
                                            <input id="Entity_State_Yes" asp-for="Entity.State" type="radio" value="true" />
                                            <i></i> Si
                                        </label>
                                        <label class="radio">
                                            <input id="Entity_State_No" asp-for="Entity.State" type="radio" style="margin-left: 5px;" value="false" />
                                            <i></i> No
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span id="message" class="text-danger"></span>
                        <input type="text" required class="hidenn" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button onclick="categorias.RegistrarCategoria()" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")

}

